:host {
  width: 100%;
  display: block;
  position: relative;

  .toggler {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    z-index: 10;

    .show-icon,
    .hide-icon {
      font-size: 1.5rem;
      display: block;
    }
  }
}
