<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="getMovies($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" detail="false">
    <ion-searchbar
      show-clear-button="focus"
      [(ngModel)]="title"
    ></ion-searchbar>

    <ion-button slot="end" fill="none" (click)="showAdvancedFilters()">
      <ion-icon
        slot="icon-only"
        name="filter"
        [color]="(filterActive$ | async) ? 'primary' : 'dark'"
      ></ion-icon>
    </ion-button>
  </ion-item>

  <main class="ion-padding">
    <app-movies-list
      *ngIf="movies$ | async as movies"
      [movies]="movies | filterMovie:title:(advancedFilters$ | async)"
      (edit)="editMovie($event)"
    ></app-movies-list>
  </main>
</ion-content>
